#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}
.containerLeft {
    background: linear-gradient(180deg, #1E2225 0%, rgba(45, 44, 44, 0.49) 100%) !important;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
    background: transparent!important;
}
.ant-layout-sider-trigger {
    background: #24415f !important;
}
.musicItems{
    max-height: 490px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.ImageLogo{
    width: 45px;
    height: 45px;
    margin-right: 20px;
    border-radius: 20px;
}
.NameLogo{
    font-family: Ribeye;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: white;
}
.ItemLogo{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 20px;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: transparent!important;
    padding-left: 20px!important;
}
.MusicHomeContainer{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #193248 0%, rgba(68, 89, 106, 0.75) 100%);
}
.containerControls{
    width: 100%;
    height: 70px;
    background-color: #23232d;
    display: flex;
    flex-direction: row;
}


